.card{
    width: 50px;
    margin: 10px;
    border: 1px solid gray;
    border-radius: 10px;
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



img{
    height: 250px;
    border-bottom: 1px solid lightgray;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.flex-end{
    height: auto;
    display: flex;
    justify-content: flex-end;
    vertical-align: bottom;
}
btn{
    vertical-align: bottom;
}