
<div class="row">
    <div class="card" style="width: 18rem;"
            *ngFor="let film of films; let i=index">
        <img [src]="film.photo" [alt]="film.name">
        <div class="card-body">
            <div class="inside-flex">
                <h4> {{ film.getName() }} </h4>
                <p> {{ stringsToShow[i] }} </p>
            </div>
            <div class="flex-end">
                <button class="btn btn-primary" (click)="onDetails(i)">Voir plus</button>
            </div>
        </div>
    </div>
</div>
