<p>single film component {{film.name}} </p>
<div class="row">
    <img [src]="film.photo" [alt]="film.name" class="col col-lg">
    <div class="col col-lg">
        <h1 class="information"> {{ film.name }} </h1>
        <p class="information">
            {{ film.synopsis }}
        </p>
    </div>
</div>