<nav class="navbar navbar-dark sticky navbar-expand-lg bg-dark">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a routerLink="" class="navbar-brand">Home</a>
        <a href="films" class="navbar-brand">films</a>
    </div>
</nav>